body {
    background-color: #ddd;
    font-family: Tahoma;
}

div#corpo {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
}

table.listagem {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    /*"collapse": removes space from rows and columns between table borders */
}

table.listagem tr {
    height: 50px;
}

table.listagem td {
    /* border: 1px solid #ddd; */
    padding: 10px;
}

/* The nth-child() selects even lines (tr) */
table.listagem tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Setting the width of the first (1) column (td) */
table.listagem td:nth-child(1) {
    width: 50px;
}

/* Setting the width of the last (3) column (td) */
table.listagem td:nth-child(3) {
    width: 90px;
}

img.mini {
    width: 50px;
}